# snippet-permission service
PERMISSION_POSTGRES_USER=permission_user
PERMISSION_POSTGRES_PASSWORD=permission_password
PERMISSION_POSTGRES_DB=permission_db
PERMISSION_DB_HOST=permission-db-postgres
PERMISSION_DB_PORT=5432

# snippet-manager service
MANAGER_POSTGRES_USER=manager_user
MANAGER_POSTGRES_PASSWORD=manager_password
MANAGER_POSTGRES_DB=manager_db
MANAGER_DB_HOST=manager-db-postgres
MANAGER_DB_PORT=5432

# general
IMAGE_TAG=main
DOMAIN_NAME=domain


# Blob storage service URL
BLOB_URL=http://asset-service:8080

# Redis host
REDIS_HOST=redis

# Additional services URLs
PERMISSION_URL=http://snippet-permission:8081
RUNNER_URL=http://snippet-runner:8082

